.voice-player {
  border: 1px solid #ebebeb;
  background-color: #fcfcfc;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  padding: 12px 20px 12px 12px;
  position: relative;
  cursor: pointer;
}
.voice-player * {
  box-sizing: border-box;
  vertical-align: middle;
}
.voice-player *:after,
.voice-player *:before {
  box-sizing: content-box;
}
.voice-player > .audio-play {
  display: inline-block;
  width: 45px;
  height: 45px;
  margin-left: -10px;
  position: relative;
  overflow: hidden;
  font-size: 12px;
  border-radius: 50%;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.voice-player > .audio-play > .horn {
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 1;
  left: 19px;
  top: 19px;
  border-radius: 50%;
  background-color: #0dbb00;
}
.voice-player > .audio-play > .horn.animation {
  -webkit-animation: hronZoom 1s infinite;
          animation: hronZoom 1s infinite;
}
.voice-player > .audio-play > .horn:before {
  content: "";
  display: block;
  position: absolute;
  top: -0.4em;
  left: -0.4em;
  width: .8em;
  height: .8em;
  border: .4em solid #fcfcfc;
  border-radius: 50%;
}
.voice-player > .audio-play > .horn:after {
  content: "";
  display: block;
  position: absolute;
  top: -1.1em;
  left: -1.1em;
  width: 2.2em;
  height: 2.2em;
  border: .4em solid #fff;
  border-radius: 50%;
}
.voice-player > .audio-play:before,
.voice-player > .audio-play:after {
  content: "";
  display: block;
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 50%;
  background-color: #fcfcfc;
  -webkit-transform-origin: 1.8em 1.8em;
      -ms-transform-origin: 1.8em 1.8em;
          transform-origin: 1.8em 1.8em;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}
.voice-player > .audio-play:after {
  -webkit-transform-origin: 2em 0em;
      -ms-transform-origin: 2em 0em;
          transform-origin: 2em 0em;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
@-webkit-keyframes hronZoom {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 30px;
    height: 30px;
  }
}
@keyframes hronZoom {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 30px;
    height: 30px;
  }
}
.voice-player > .audio-body {
  display: inline-block;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.43;
  margin: 0 0 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  max-width: 79%;
}
.voice-player > .audio-body > .sub-title {
  display: block;
  color: #8c8c8c;
}
.voice-player > .audio_length {
  display: inline-block;
  position: absolute;
  right: 30px;
  font-size: 14px;
  color: #8c8c8c;
}
.voice-player > .audio-play-progress {
  display: block;
  position: absolute;
  -webkit-transition: all .5s linear;
          transition: all .5s linear;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: red;
  width: 0%;
  -webkit-transition: width 1s linear;
          transition: width 1s linear;
}
.voice-player > .audio-play-progress:after {
  content: " ";
  display: block;
  position: absolute;
  width: 30px;
  right: 0;
  bottom: 0;
  height: 2px;
  opacity: .45;
  box-shadow: #29d 1px 0 6px 1px;
  border-radius: 100%;
}
.voice-player > .audio-play-progress.hide {
  opacity: 0;
  z-index: 0;
  visibility: hidden;
}
.voice-player > .audio-play-progress.in {
  z-index: 9999;
  opacity: 1;
  visibility: visible;
}
